@import '~/assets/scss/main';
@import '~/assets/css/fonts';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 85%;
  overflow: auto;
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */

  &.dark-mode {
    .mode--light {
      display: none !important;
    }

    [data-color-scheme='light'] {
      display: none !important;
    }
  }
  @media (prefers-color-scheme: dark) {
    &.auto-color-scheme {
      background-color: #000;

      .mode--light {
        display: none !important;
      }

      [data-color-scheme='light'] {
        display: none !important;
      }
    }
  }

  &.light-mode {
    background-color: #fff;

    .mode--dark {
      display: none !important;
    }

    [data-color-scheme='dark'] {
      display: none !important;
    }
  }
  @media (prefers-color-scheme: light) {
    &.auto-color-scheme {
      background-color: #fff;

      .mode--dark {
        display: none !important;
      }

      [data-color-scheme='dark'] {
        display: none !important;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 95%;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 105%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-family: $ui-font;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: keep-all;
  font-size: 16px;
  color: #333;
  @include bg;
  @include text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  @include heading1;
}

h2 {
  @include heading2;
}

h3 {
  @include heading3;
}

p,
a,
textarea,
span,
div,
input {
  font-family: $ui-font;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

p {
  @include paragraph;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none !important;

  &.absolute-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: $ui-font;
  font-size: 1rem;
  color: $base-gray;
}

img {
  user-select: none;
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

// Transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// colors
.color1 {
  background-image: linear-gradient(to bottom, #e6696e, #e67a7d);
}

.color2 {
  background-image: linear-gradient(to bottom, #e8765c, #e78470);
}

.color3 {
  background-image: linear-gradient(to bottom, #dd8042, #dc8d5e);
}

.color4 {
  background-image: linear-gradient(to bottom, #d69d2f, #cd8e27);
}

.color5 {
  background-image: linear-gradient(to bottom, #6ca64e, #5f9943);
}

.color6 {
  background-image: linear-gradient(to bottom, #5ba68f, #4b977f);
}

.color7 {
  background-image: linear-gradient(to bottom, #629eb1, #5490a3);
}

.color8 {
  background-image: linear-gradient(to bottom, #6c92c3, #5f84b9);
}

.color9 {
  background-image: linear-gradient(to bottom, #737ec4, #656fb9);
}

.color10 {
  background-image: linear-gradient(to bottom, #9177c0, #8268b4);
}

.color11 {
  background-image: linear-gradient(to bottom, #c485c6, #b36cb6);
}

.color12 {
  background-image: linear-gradient(to bottom, #dd7190, #d76784);
}

.color13 {
  background-image: linear-gradient(to bottom, #87919d, #7a8490);
}

.color14 {
  background-image: linear-gradient(to bottom, #8d928e, #7e8480);
}

.color15 {
  background-image: linear-gradient(to bottom, #9c908b, #8f817d);
}

// Animations
@keyframes shaking {
  0% {
    transform: translateX(-10%);
  }
  25% {
    transform: translateX(7.5%);
  }
  50% {
    transform: translateX(-5%);
  }
  75% {
    transform: translateX(2.5%);
  }
  100% {
    transform: translateX(0);
  }
}
